bike_node_red-flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"372e66df.e3fb7a","type":"tab","label":"main","disabled":false,"info":""\},\{"id":"5426cdb5.17c67c","type":"tab","label":"Settings_Store data","disabled":false,"info":""\},\{"id":"14dc65d6.e1936a","type":"tab","label":"Bike Simulator","disabled":false,"info":""\},\{"id":"d1fddea9.b6ee8","type":"tab","label":"TIMER","disabled":false,"info":""\},\{"id":"ac191645.5b409","type":"tab","label":"Flow 1"\},\{"id":"cf45c04.fce5e4","type":"tab","label":"chart","disabled":true,"info":""\},\{"id":"2fa786cd.048c72","type":"tab","label":"old_","disabled":true,"info":""\},\{"id":"d60cef19.9560f8","type":"tab","label":"Flow 3"\},\{"id":"9e7d2b6b.edc5a","type":"tab","label":"Flow 2"\},\{"id":"39690dd9.a3ffd2","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]\},\{"id":"456185fc.09d994","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[]\},\{"id":"5d0a43cc.9c57fc","type":"ui_base","theme":\{"name":"theme-dark","lightTheme":\{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false\},"darkTheme":\{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false\},"customTheme":\{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false\},"themeState":\{"base-color":\{"default":"#097479","value":"#097479","edited":false\},"page-titlebar-backgroundColor":\{"value":"#097479","edited":false\},"page-backgroundColor":\{"value":"#111111","edited":false\},"page-sidebar-backgroundColor":\{"value":"#000000","edited":false\},"group-textColor":\{"value":"#0eb8c0","edited":false\},"group-borderColor":\{"value":"#555555","edited":false\},"group-backgroundColor":\{"value":"#333333","edited":false\},"widget-textColor":\{"value":"#eeeeee","edited":false\},"widget-backgroundColor":\{"value":"#097479","edited":false\},"widget-borderColor":\{"value":"#333333","edited":false\},"base-font":\{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"\}\}\},"site":\{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":\{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0\}\}\},\{"id":"88daaa56.e928e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1\},\{"id":"31bc35cb.69f60a","type":"ui_group","z":"","name":"Timer","tab":"88daaa56.e928e8","order":4,"disp":true,"width":"7"\},\{"id":"8049c44c.6013a8","type":"ui_group","z":"","name":"Bike 1 Settings","tab":"5b560388.8f885c","order":2,"disp":true,"width":"6"\},\{"id":"da393b1f.8d3c68","type":"ui_tab","z":"","name":"Extra","icon":"dashboard","order":6\},\{"id":"5ed28a0c.c6af34","type":"ui_group","z":"","name":"BIKE_1","tab":"da393b1f.8d3c68","order":null,"disp":true,"width":"6"\},\{"id":"c26aaba8.df44d8","type":"mqtt-broker","z":"","broker":"192.168.0.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\},\{"id":"e1523d06.32692","type":"ui_group","z":"","name":"switch","tab":"da393b1f.8d3c68","disp":true,"width":"6"\},\{"id":"5b560388.8f885c","type":"ui_tab","z":"","name":"Settings","icon":"fa-wrench","order":2\},\{"id":"3a02f282.523f7e","type":"ui_group","z":"","name":"Group_Settings","tab":"5b560388.8f885c","order":4,"disp":true,"width":"6"\},\{"id":"d742bc28.de205","type":"ui_group","z":"","name":"Setting_Bike","tab":"5b560388.8f885c","order":1,"disp":true,"width":"6"\},\{"id":"b56d07c.c26fdf8","type":"ui_group","z":"","name":"Gauge","tab":"d9240b45.2ea298","order":2,"disp":true,"width":"6"\},\{"id":"d9240b45.2ea298","type":"ui_tab","z":"","name":"Restore","icon":"dashboard","order":3\},\{"id":"bb6555a3.9a7a18","type":"mqtt-dynamic-broker","z":"","broker":"192.168.0.51","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\},\{"id":"f6db4243.be0728","type":"ui_group","z":"","name":"Bike 1","tab":"88daaa56.e928e8","order":1,"disp":false,"width":"6"\},\{"id":"968d47ce.aa59e8","type":"ui_group","z":"","name":"Bike 2","tab":"88daaa56.e928e8","order":2,"disp":false,"width":"6"\},\{"id":"ab467671.b9a7d8","type":"ui_group","z":"","name":"Bike 3","tab":"88daaa56.e928e8","order":3,"disp":false,"width":"6"\},\{"id":"7f8d04a6.faf4dc","type":"ui_group","z":"","name":"Bike 2 Settings","tab":"5b560388.8f885c","order":3,"disp":true,"width":"6"\},\{"id":"d064c4d3.89832","type":"ui_group","z":"","name":"Bike 3 Settings","tab":"5b560388.8f885c","order":5,"disp":true,"width":"6"\},\{"id":"38da758e.3774b2","type":"ui_tab","z":"","name":"Simaulator","icon":"fa-play-circle","order":5\},\{"id":"9b2dd94a.042cc8","type":"ui_group","z":"","name":"Simulator Bike 1","tab":"38da758e.3774b2","disp":true,"width":"6"\},\{"id":"973c71e7.76d498","type":"mqtt-broker","z":"5426cdb5.17c67c","broker":"croft.thethings.girovito.nl","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""\},\{"id":"1f9a4208.b29f9e","type":"mqtt-broker","z":"","broker":"croft.thethings.girovito.nl","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""\},\{"id":"275cf209.4b487e","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"6"\},\{"id":"f04a1150.7c7d58","type":"ui_group","z":"","name":"BIKE_!","tab":"","order":null,"disp":true,"width":"6"\},\{"id":"2a4c945d.5d78d4","type":"ui_group","z":"","name":"BIKE_!","tab":"","order":null,"disp":true,"width":"6"\},\{"id":"3c15d3aa.18ece4","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"6"\},\{"id":"bf8052b.64f893","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"\},\{"id":"bc2e19ea.b762c","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"\},\{"id":"bce7ab6e.03bd28","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"\},\{"id":"e0d48f1c.217ab8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"\},\{"id":"53b41525.5e5e8c","type":"ui_group","z":"","name":"Countdown","tab":"d1acf7d4.cc348","disp":true,"width":"6"\},\{"id":"d1acf7d4.cc348","type":"ui_tab","z":"","name":"Countdown","icon":"fa-clock-o","order":4\},\{"id":"c48030eb.6f0558","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6\},\{"id":"83e9cbea.6a0e28","type":"ui_button","z":"39690dd9.a3ffd2","name":"","group":"5ed28a0c.c6af34","order":2,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":281.5,"y":193,"wires":[[]]\},\{"id":"cae474e0.25172","type":"inject","z":"ac191645.5b409","name":"","topic":"bike1","payload":"Roger","payloadType":"str","repeat":"","crontab":"","once":false,"x":169,"y":122,"wires":[[]]\},\{"id":"2afc9ced.95c924","type":"debug","z":"ac191645.5b409","name":"","active":true,"console":"false","complete":"payload","x":811,"y":104,"wires":[]\},\{"id":"a2ccbc67.adc5f","type":"inject","z":"ac191645.5b409","name":"","topic":"bike2","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":133,"y":220,"wires":[[]]\},\{"id":"7769ac8a.36a064","type":"inject","z":"ac191645.5b409","name":"","topic":"bike3","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":151,"y":319,"wires":[[]]\},\{"id":"a4eb3e92.942748","type":"ui_button","z":"cf45c04.fce5e4","name":"","group":"b56d07c.c26fdf8","order":2,"width":"2","height":"1","label":"Inject","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":777,"y":48,"wires":[["f1d9e70a.68c7a"]]\},\{"id":"4dfe1b8d.a1d9dc","type":"ui_button","z":"cf45c04.fce5e4","name":"","group":"b56d07c.c26fdf8","order":4,"width":"2","height":"1","passthru":false,"label":"restore","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":777,"y":348,"wires":[["646a565a.f2e8e8"]]\},\{"id":"f1d9e70a.68c7a","type":"random","z":"cf45c04.fce5e4","name":"","low":"0","high":"10","inte":"true","x":927,"y":48,"wires":[["93439bba.51ce1"]]\},\{"id":"93439bba.51ce1","type":"ui_chart","z":"cf45c04.fce5e4","name":"","group":"b56d07c.c26fdf8","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"x":1077,"y":48,"wires":[["9db0ccb7.dc699"],[]]\},\{"id":"1d8a8555.b9abeb","type":"file","z":"cf45c04.fce5e4","name":"","filename":"/tmp/chart.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1255,"y":226,"wires":[]\},\{"id":"646a565a.f2e8e8","type":"file in","z":"cf45c04.fce5e4","name":"","filename":"/tmp/chart.log","format":"utf8","sendError":true,"x":927,"y":348,"wires":[["e429ea81.928f3"]]\},\{"id":"9db0ccb7.dc699","type":"json","z":"cf45c04.fce5e4","name":"","pretty":false,"x":1288,"y":69,"wires":[["9851ddf8.4c1d9"]]\},\{"id":"e429ea81.928f3","type":"json","z":"cf45c04.fce5e4","name":"","pretty":false,"x":1077,"y":348,"wires":[["93439bba.51ce1"]]\},\{"id":"9851ddf8.4c1d9","type":"function","z":"cf45c04.fce5e4","name":"","func":"if (msg.topic === \\"save\\") \{\\n    msg.payload = context.last;\\n    return msg;\\n\}\\nelse \{\\n    context.last = msg.payload;\\n\}\\nreturn null;","outputs":1,"noerr":0,"x":985,"y":226,"wires":[["1d8a8555.b9abeb"]]\},\{"id":"f4fe972d.c5b758","type":"ui_button","z":"cf45c04.fce5e4","name":"","group":"b56d07c.c26fdf8","order":3,"width":"2","height":"1","label":"save","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":805,"y":226,"wires":[["9851ddf8.4c1d9"]]\},\{"id":"1a17688d.9fdabf","type":"mqtt out","z":"ac191645.5b409","name":"","topic":"bikes/bike1/led","qos":"","retain":"","broker":"c26aaba8.df44d8","x":485,"y":726,"wires":[]\},\{"id":"6fe8768.3930f08","type":"ui_switch","z":"ac191645.5b409","name":"","label":"switch LED","group":"e1523d06.32692","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"bikes/bike1/led","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":175,"y":639,"wires":[["1a17688d.9fdabf"]]\},\{"id":"1e24f492.9978c3","type":"debug","z":"ac191645.5b409","name":"","active":true,"console":"false","complete":"true","x":748,"y":578,"wires":[]\},\{"id":"75cef8ef.48af","type":"status","z":"ac191645.5b409","name":"","scope":["e4ea3d4b.a1d68"],"x":164.5,"y":581,"wires":[["a029f65b.74f26"]]\},\{"id":"a029f65b.74f26","type":"change","z":"ac191645.5b409","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"status.text","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":576,"wires":[["1e24f492.9978c3"]]\},\{"id":"e0de4087.5d0b1","type":"ui_slider","z":"14dc65d6.e1936a","name":"","label":"bike 3 Wh","group":"9b2dd94a.042cc8","order":3,"width":0,"height":0,"passthru":true,"topic":"whS","min":0,"max":"100","step":1,"x":114,"y":304,"wires":[["5945be40.c7bf58"]]\},\{"id":"d20671df.9a5d7","type":"mqtt out","z":"14dc65d6.e1936a","name":"","topic":"bikes/message","qos":"","retain":"","broker":"c26aaba8.df44d8","x":653,"y":346,"wires":[]\},\{"id":"f1971b3c.00bad8","type":"ui_slider","z":"14dc65d6.e1936a","name":"","label":"bike 1 Wh","group":"9b2dd94a.042cc8","order":1,"width":0,"height":0,"passthru":true,"topic":"whS","min":0,"max":"300","step":1,"x":130,"y":54,"wires":[["e907cb76.c73118"]]\},\{"id":"e6346759.063098","type":"mqtt in","z":"5426cdb5.17c67c","name":"","topic":"#","qos":"2","broker":"c26aaba8.df44d8","x":104,"y":881,"wires":[["7d0367e6.fecb7","f76b82ce.643dd8"]]\},\{"id":"8abd1028.24f298","type":"debug","z":"5426cdb5.17c67c","name":"","active":false,"console":"false","complete":"payload.wh","x":532,"y":1010,"wires":[]\},\{"id":"7d0367e6.fecb7","type":"json","z":"5426cdb5.17c67c","name":"","pretty":false,"x":272,"y":882,"wires":[["8abd1028.24f298","cfff2bce.19c21","fc9f83dd.7a51e","a8a2a65.9feb3d8"]]\},\{"id":"cfff2bce.19c21","type":"debug","z":"5426cdb5.17c67c","name":"","active":false,"console":"false","complete":"payload.w","x":531,"y":1065,"wires":[]\},\{"id":"fc9f83dd.7a51e","type":"debug","z":"5426cdb5.17c67c","name":"","active":false,"console":"false","complete":"payload.id","x":530,"y":1125,"wires":[]\},\{"id":"f76b82ce.643dd8","type":"debug","z":"5426cdb5.17c67c","name":"","active":false,"console":"false","complete":"true","x":299,"y":1130,"wires":[]\},\{"id":"bb19a05e.b11228","type":"switch","z":"5426cdb5.17c67c","name":"","property":"payload.id","propertyType":"msg","rules":[\{"t":"eq","v":"1","vt":"str"\},\{"t":"eq","v":"2","vt":"str"\},\{"t":"eq","v":"3","vt":"str"\},\{"t":"eq","v":"4","vt":"str"\}],"checkall":"true","outputs":4,"x":507,"y":744,"wires":[["e6478d6d.36f82"],["c1efb77c.41f478","f9263e50.54f658"],["93f920fe.8b0a38"],["83c0fdee.576018"]]\},\{"id":"f9263e50.54f658","type":"debug","z":"5426cdb5.17c67c","name":"","active":false,"console":"false","complete":"payload.wh","x":775,"y":640,"wires":[]\},\{"id":"e6478d6d.36f82","type":"function","z":"5426cdb5.17c67c","name":"Set bike 1 json ","func":"// set gloab variabel for the bike 1 data (object)\\n   var stat = global.get(\\"bike_1_data\\");\\n  global.set(\\"bike_1_data\\", msg.payload);\\n\\n","outputs":1,"noerr":0,"x":756.5,"y":743,"wires":[[]]\},\{"id":"c1efb77c.41f478","type":"function","z":"5426cdb5.17c67c","name":"Set bike 2 json ","func":"// set gloab variabel for the bike 1 data (object)\\n   var stat = global.get(\\"bike_2_data\\");\\n  global.set(\\"bike_2_data\\", msg.payload);\\n\\nreturn msg.payload;\\n","outputs":1,"noerr":0,"x":759,"y":785,"wires":[["1307dead.383ff9"]]\},\{"id":"93f920fe.8b0a38","type":"function","z":"5426cdb5.17c67c","name":"Set bike 3 json ","func":"// set gloab variabel for the bike 1 data (object)\\n   var stat = global.get(\\"bike_3_data\\");\\n  global.set(\\"bike_3_data\\", msg.payload);\\n\\n","outputs":1,"noerr":0,"x":759,"y":831,"wires":[[]]\},\{"id":"83c0fdee.576018","type":"function","z":"5426cdb5.17c67c","name":"Set bike 4 json ","func":"// set gloab variabel for the bike 1 data (object)\\n   var stat = global.get(\\"bike_4_data\\");\\n  global.set(\\"bike_4_data\\", msg.payload);\\n\\n","outputs":1,"noerr":0,"x":757,"y":880,"wires":[[]]\},\{"id":"1bbbce0c.ef9b8a","type":"function","z":"372e66df.e3fb7a","name":"get_bike_1_data_obj","func":"\\nvar b1 = \\"bike_\\";\\nvar bn = global.get('bike_n_1')|| 1;\\nvar b2 = \\"_data\\";\\nvar b3 = \\"_Wh\\";\\nvar bp = \\"_pos\\";\\n\\nvar run = global.get('run')|| 1;\\n\\n//set bike number\\nif (msg.topic == \\"bike_n\\")\{\\n     bn = msg.payload ;\\n     global.set('bike_n_1',bn);\\n     node.error(bn);\\n\}\\n\\n// get bike number obj\\nvar bike = b1 + bn+ b2;\\nvar bike_data_obj = global.get(bike);\\n\\n// set bike Wh\\nvar bike_Wh_name = b1+bn+b3; // bike_1_pos\\nglobal.set( bike_Wh_name , bike_data_obj.wh );\\n\\n// get bike pos\\nvar bike_pos_name = b1 + bn + bp;\\nvar bike_pos = global.get(bike_pos_name);\\n\\nif (run === true )\\n    var msgW = \{ payload: bike_data_obj.w \};\\nelse \\n    var msgW = \{ payload: 0 \};\\n\\nvar msgWh = \{ payload: bike_data_obj.wh \};\\nvar msgPos = \{ payload: bike_pos \};\\nvar msgAd = \{ payload: bike_data_obj.ad\};\\n\\nreturn [msgW, msgWh, msgPos, msgAd];\\n\\n","outputs":"4","noerr":0,"x":391.5,"y":411,"wires":[["a64a7bbb.472e08","d577b4d2.8c30a8"],["60ab4938.ff3968"],["1ef98a74.1d03d6","90528d31.d5164"],[]],"outputLabels":["W","Wh","POS",""]\},\{"id":"90528d31.d5164","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":657.5,"y":310,"wires":[]\},\{"id":"a4ec93f.7d9c5f","type":"ui_dropdown","z":"372e66df.e3fb7a","name":"","label":"bike_selector","place":"Select option","group":"8049c44c.6013a8","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"","value":"1","type":"str"\},\{"label":"","value":"2","type":"str"\},\{"label":"","value":"3","type":"str"\}],"payload":"","topic":"bike_n","x":114,"y":317,"wires":[["1bbbce0c.ef9b8a"]]\},\{"id":"a8a2a65.9feb3d8","type":"function","z":"5426cdb5.17c67c","name":"on_off_function","func":"var run = global.get('run')|| 1;\\n\\n\\n//if (msg.topic === \\"run\\")\{\\n  //   run = msg.payload ;\\n    // global.set('run', run);\\n//\}\\n\\nvar msg_run = \{payload: run\};\\n\\nvar null_msg = \{payload: 0\};\\n\\nif (run == 1)\\n    return [msg, msg_run];\\nelse\\n    return [null_msg , msg_run];","outputs":"2","noerr":0,"x":333,"y":693,"wires":[["735ee193.c81148","bb19a05e.b11228"],[]]\},\{"id":"93194120.fde4f","type":"ui_slider","z":"2fa786cd.048c72","name":"","label":"333","group":"5ed28a0c.c6af34","order":3,"width":"6","height":"4","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":402,"y":52,"wires":[[]]\},\{"id":"f76e4af7.673588","type":"mqtt in","z":"2fa786cd.048c72","name":"mqtt1","topic":"bikes/bike1/temp","qos":"1","broker":"c26aaba8.df44d8","x":217.5,"y":90,"wires":[["93194120.fde4f","55824358.749c44","94b7f8f1.7b80a8","ff47791f.fcd73"]]\},\{"id":"55824358.749c44","type":"ui_text","z":"2fa786cd.048c72","group":"5ed28a0c.c6af34","order":5,"width":0,"height":0,"name":"","label":"text","format":"\{\{msg.payload\}\}","layout":"row-spread","x":573.5,"y":62,"wires":[]\},\{"id":"94b7f8f1.7b80a8","type":"ui_chart","z":"2fa786cd.048c72","name":"","group":"5ed28a0c.c6af34","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570.5,"y":120,"wires":[[],["91fdedc.29cb49"]]\},\{"id":"91fdedc.29cb49","type":"file in","z":"2fa786cd.048c72","name":"","filename":"test","format":"utf8","chunk":false,"sendError":false,"x":821.5,"y":122,"wires":[[]]\},\{"id":"ff47791f.fcd73","type":"capture","z":"2fa786cd.048c72","name":"","size":10,"period":30,"interval":5,"onNewMessage":false,"x":572,"y":190,"wires":[["176cc26f.38c23e"]]\},\{"id":"176cc26f.38c23e","type":"ui_text","z":"2fa786cd.048c72","group":"5ed28a0c.c6af34","order":7,"width":"6","height":"5","name":"","label":"text","format":"\{\{msg.payload\}\}","layout":"row-spread","x":813,"y":193,"wires":[]\},\{"id":"a90ab0c8.046168","type":"mqtt-dynamic in","z":"2fa786cd.048c72","name":"","topic":"bikes/#","broker":"bb6555a3.9a7a18","async":"true","x":202,"y":575,"wires":[["b3b8bd8d.e8c57","8a1be3d3.ad2b4","49616109.85cfb8"]]\},\{"id":"f88a9972.368cb8","type":"debug","z":"2fa786cd.048c72","name":"","active":false,"console":"false","complete":"payload","x":693,"y":391,"wires":[]\},\{"id":"b3b8bd8d.e8c57","type":"function","z":"2fa786cd.048c72","name":"bike Select","func":"t = msg.topic;\\nm = msg.payload;\\n\\n\\n\\n\\nvar msg1 = \{ payload:\\"topic empty\\" \};\\nvar msg2 = msg;\\n\\n// initialise the counter to 0 if it doesn't exist already\\nvar bike = context.get('bike')||\\"bike1\\";\\nmsg.bike = bike;\\n\\nvar bikeT =  msg.bike;\\nvar bike_W = \\"bike2W\\";\\nvar myfoo = global.get(bike_W);\\nvar msg4 = \{ payload: myfoo \};\\n\\n\\n// make it part of the outgoing msg object\\n\\n\\nif (t == \\"insertTopic\\")\{\\n    bikeT = msg.payload;\\n    context.set('bike',bikeT);\\n    //context.set('bike',bikeT);\\n    node.error(msg.bike)\\n\}\\n\\n\\nif(msg.topic == \\"bikes/\\"+bikeT+\\"/temp\\")\{\\n //context.set(bike_W, bikeT );\\n return msg ;\\n\\n   \\n\}\\n//else\\n  //var msg1 = \{msg.payload= \\"errro\\"\};\\n//return msg1;","outputs":"2","noerr":0,"x":467,"y":470,"wires":[["f88a9972.368cb8"],["21519a00.e92f1e"]]\},\{"id":"f2b044e7.83c748","type":"ui_dropdown","z":"2fa786cd.048c72","name":"","label":"Hardware Number:","place":"Select Hardware","group":"8049c44c.6013a8","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"1","value":"bike1","type":"str"\},\{"label":"2","value":"bike2","type":"str"\},\{"label":"3","value":"bike3","type":"str"\}],"payload":"","topic":"insertTopic","x":230,"y":399,"wires":[["b3b8bd8d.e8c57"]]\},\{"id":"500ba235.9fff0c","type":"debug","z":"2fa786cd.048c72","name":"","active":false,"console":"false","complete":"payload","x":726,"y":794,"wires":[]\},\{"id":"8a1be3d3.ad2b4","type":"function","z":"2fa786cd.048c72","name":"bike Select","func":"t = msg.topic;\\nm = msg.payload;\\n\\n//global.set(\\"b1\\",\\"bar\\");\\n\\nvar msg1 = \{ payload:\\"topic empty\\" \};\\nvar msg2 = msg;\\n\\n// initialise the counter to 0 if it doesn't exist already\\nvar bike = context.get('bike')||\\"bike2\\";\\nmsg.bike = bike;\\n\\n\\nvar bikeT =  msg.bike;\\nvar bike_W = \\"bike\\" + bikeT + \\"W\\";\\n\\n// make it part of the outgoing msg object\\n\\n\\nif (t == \\"insertTopic\\")\{\\n    bikeT = msg.payload;\\n    context.set('bike',bikeT);\\n    //context.set('bike',bikeT);\\n    node.error(msg.bike)\\n\}\\n\\n\\nif(msg.topic == \\"bikes/\\"+bikeT+\\"/temp\\")\{\\n global.set(\\"b2\\", msg);\\n global.set( \\"bike2W\\", msg);\\n return msg;\\n\}\\n//else\\n //var msg1 = \{msg.payload= \\"errro\\"\};\\n//return msg1;","outputs":1,"noerr":0,"x":485,"y":841,"wires":[["500ba235.9fff0c","7f11c1b3.1b9ee","3d0f44e5.069d8c"]]\},\{"id":"e0fa277.6c700d8","type":"ui_dropdown","z":"2fa786cd.048c72","name":"","label":"Hardware Number:","place":"Select Hardware","group":"7f8d04a6.faf4dc","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"2","value":"bike2","type":"str"\},\{"label":"3","value":"bike3","type":"str"\},\{"label":"1","value":"bike1","type":"str"\}],"payload":"","topic":"insertTopic","x":237,"y":887,"wires":[["8a1be3d3.ad2b4"]]\},\{"id":"7f11c1b3.1b9ee","type":"ui_chart","z":"2fa786cd.048c72","name":"","group":"968d47ce.aa59e8","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":706,"y":931,"wires":[[],[]]\},\{"id":"3d0f44e5.069d8c","type":"ui_gauge","z":"2fa786cd.048c72","name":"","group":"968d47ce.aa59e8","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"W","format":"\{\{value\}\}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":709.5,"y":890,"wires":[]\},\{"id":"95cb7ac1.697258","type":"debug","z":"2fa786cd.048c72","name":"","active":false,"console":"false","complete":"payload","x":703,"y":1150,"wires":[]\},\{"id":"49616109.85cfb8","type":"function","z":"2fa786cd.048c72","name":"bike Select","func":"t = msg.topic;\\nm = msg.payload;\\n\\n\\nvar msg1 = \{ payload:\\"topic empty\\" \};\\nvar msg2 = msg;\\n\\n// initialise the counter to 0 if it doesn't exist already\\nvar bike = context.get('bike')||\\"bike1\\";\\nmsg.bike = bike;\\n\\n\\nvar bikeT =  msg.bike;\\n\\n// make it part of the outgoing msg object\\n\\n\\nif (t == \\"insertTopic\\")\{\\n    bikeT = msg.payload;\\n    context.set('bike',bikeT);\\n    //context.set('bike',bikeT);\\n    node.error(msg.bike)\\n\}\\n\\n\\nif(msg.topic == \\"bikes/\\"+bikeT+\\"/temp\\")\\n return msg;\\n//else\\n //var msg1 = \{msg.payload= \\"errro\\"\};\\n//return msg1;","outputs":1,"noerr":0,"x":508,"y":1198,"wires":[["95cb7ac1.697258","3052162c.b468aa","ec01bf35.45dae8"]]\},\{"id":"d3471adf.f3a5","type":"ui_dropdown","z":"2fa786cd.048c72","name":"","label":"","place":"Select Hardware","group":"d064c4d3.89832","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"3","value":"bike3","type":"str"\},\{"label":"1","value":"bike1","type":"str"\},\{"label":"2","value":"bike2","type":"str"\}],"payload":"","topic":"insertTopic","x":233,"y":1302,"wires":[["49616109.85cfb8"]]\},\{"id":"3052162c.b468aa","type":"ui_chart","z":"2fa786cd.048c72","name":"","group":"ab467671.b9a7d8","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":687,"y":1289,"wires":[[],[]]\},\{"id":"ec01bf35.45dae8","type":"ui_gauge","z":"2fa786cd.048c72","name":"","group":"ab467671.b9a7d8","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"W","format":"\{\{value\}\}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":685.5,"y":1249,"wires":[]\},\{"id":"fb1ae1fc.4c6ab","type":"ui_button","z":"2fa786cd.048c72","name":"","group":"8049c44c.6013a8","order":4,"width":"2","height":"1","passthru":false,"label":"restore","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":193,"y":296,"wires":[["caf51b9f.7796b"]]\},\{"id":"caf51b9f.7796b","type":"function","z":"2fa786cd.048c72","name":"","func":"\\nmsg.topic = \\"Clear\\";\\nmsg.payload = [];\\nreturn msg;","outputs":1,"noerr":0,"x":429,"y":298,"wires":[["7f11c1b3.1b9ee","3052162c.b468aa"]]\},\{"id":"e58850f1.1de858","type":"ui_text_input","z":"2fa786cd.048c72","name":"","label":"Bike1 Label:","group":"8049c44c.6013a8","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_1_name","x":210,"y":346,"wires":[["4d179f46.3efce"]]\},\{"id":"4d179f46.3efce","type":"ui_text","z":"2fa786cd.048c72","group":"f6db4243.be0728","order":2,"width":0,"height":0,"name":"Bike_1_text","label":"Bike 1:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":691.5,"y":347,"wires":[]\},\{"id":"ef8bace9.15a448","type":"function","z":"2fa786cd.048c72","name":"","func":"if (msg.topic === \\"save\\") \{\\n    msg.payload = context.last;\\n    return msg;\\n\}\\nelse \{\\n    context.last = msg.payload;\\n\}\\nreturn null;","outputs":1,"noerr":0,"x":1259,"y":576,"wires":[["d991c1c8.717c4"]]\},\{"id":"45679200.9923e8","type":"ui_button","z":"2fa786cd.048c72","name":"","group":"8049c44c.6013a8","order":3,"width":"2","height":"1","passthru":false,"label":"save","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":1074,"y":579,"wires":[["ef8bace9.15a448"]]\},\{"id":"d991c1c8.717c4","type":"file","z":"2fa786cd.048c72","name":"","filename":"/tmp/chart.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1367,"y":642,"wires":[]\},\{"id":"95964f87.3d7208","type":"json","z":"2fa786cd.048c72","name":"","pretty":false,"x":1076,"y":525,"wires":[["ef8bace9.15a448"]]\},\{"id":"20c94e25.c5cad2","type":"ui_text","z":"2fa786cd.048c72","group":"968d47ce.aa59e8","order":1,"width":0,"height":0,"name":"Bike_2_text","label":"Bike 2:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":732.5,"y":741,"wires":[]\},\{"id":"c6825fdc.7cb408","type":"ui_text_input","z":"2fa786cd.048c72","name":"","label":"Bike2 Label:","group":"7f8d04a6.faf4dc","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_1_name","x":224,"y":742,"wires":[["20c94e25.c5cad2"]]\},\{"id":"914de6e0.de1268","type":"ui_text","z":"2fa786cd.048c72","group":"ab467671.b9a7d8","order":1,"width":0,"height":0,"name":"Bike_3_text","label":"Bike 3:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":705.5,"y":1091,"wires":[]\},\{"id":"d7ccd7dc.438da8","type":"ui_text_input","z":"2fa786cd.048c72","name":"","label":"Bike1 Label:","group":"d064c4d3.89832","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_1_name","x":225,"y":1076,"wires":[["914de6e0.de1268"]]\},\{"id":"568f7e01.b739b8","type":"ui_gauge","z":"2fa786cd.048c72","name":"","group":"5ed28a0c.c6af34","order":4,"width":"6","height":"6","gtype":"wave","title":"","label":"Wh","format":"\{\{value\}\}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":566,"y":240,"wires":[]\},\{"id":"2081e993.76d61e","type":"mqtt in","z":"2fa786cd.048c72","name":"mqtt1","topic":"bikes/bike1/wh","qos":"1","broker":"c26aaba8.df44d8","x":219,"y":193,"wires":[["568f7e01.b739b8"]]\},\{"id":"21519a00.e92f1e","type":"debug","z":"2fa786cd.048c72","name":"","active":false,"console":"false","complete":"payload","x":706,"y":579,"wires":[]\},\{"id":"a64a7bbb.472e08","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"f6db4243.be0728","order":3,"width":"2","height":"2","gtype":"wave","title":"","label":"W","format":"\{\{value\}\}","min":0,"max":"250","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":647,"y":369,"wires":[]\},\{"id":"60ab4938.ff3968","type":"ui_gauge","z":"372e66df.e3fb7a","name":"Wh gauge","group":"f6db4243.be0728","order":4,"width":"2","height":"2","gtype":"wave","title":"","label":"Wh","format":"\{\{value\}\}","min":0,"max":"120","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":661,"y":409,"wires":[]\},\{"id":"d577b4d2.8c30a8","type":"ui_chart","z":"372e66df.e3fb7a","name":"","group":"f6db4243.be0728","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"250","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":874,"y":364,"wires":[[],[]]\},\{"id":"1ef98a74.1d03d6","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"f6db4243.be0728","order":3,"width":"2","height":"2","gtype":"wave","title":"","label":"POS","format":"\{\{value\}\}","min":0,"max":"10","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":647,"y":457,"wires":[]\},\{"id":"8f527abc.5b5e18","type":"function","z":"372e66df.e3fb7a","name":"get_bike_2_data_obj","func":"\\nvar b1 = \\"bike_\\";\\nvar bn = global.get('bike_n_2')|| 2;\\nvar b2 = \\"_data\\";\\nvar b3 = \\"_Wh\\";\\nvar bp = \\"_pos\\";\\n\\n//set bike number\\nif (msg.topic == \\"bike_n\\")\{\\n     bn = msg.payload ;\\n     global.set('bike_n_2',bn);\\n     node.error(bn);\\n\}\\n\\n// get bike number obj\\nvar bike = b1 + bn+ b2;\\nvar bike_data_obj = global.get(bike);\\n\\n// get bike Wh\\nvar bike_Wh_name = b1+ bn+ b3;\\nglobal.set( bike_Wh_name , bike_data_obj.wh );\\n\\n// get bike pos\\nvar bike_pos_name = b1 + bn + bp;\\nvar bike_pos = global.get(bike_pos_name);\\n\\nvar run = global.get('run')|| 1;\\n\\nif (run === true )\\n    var msgW = \{ payload: bike_data_obj.w \};\\nelse \\n    var msgW = \{ payload: 0 \};\\n\\n//var msgW = \{ payload: bike_data_obj.w \};\\nvar msgWh = \{ payload: bike_data_obj.wh \};\\nvar msgPos = \{payload: bike_pos\};\\n\\nreturn [msgW, msgWh, msgPos];\\n\\n","outputs":"3","noerr":0,"x":385.5,"y":715,"wires":[["8e21ca74.ef21f8","2056eb1.325a594","fead44da.b271d"],["c6d8c016.4dac6"],["2d607704.b128e","567b9d18.39b49c"]],"outputLabels":["W","Wh","POS"]\},\{"id":"564b65a2.19291c","type":"inject","z":"372e66df.e3fb7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"x":107,"y":713,"wires":[["8f527abc.5b5e18","1bbbce0c.ef9b8a","8aba7c8c.97ef2"]]\},\{"id":"567b9d18.39b49c","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":665.5,"y":819,"wires":[]\},\{"id":"91eba056.1c6398","type":"ui_dropdown","z":"372e66df.e3fb7a","name":"","label":"bike_selector","place":"Select option","group":"7f8d04a6.faf4dc","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"","value":"1","type":"str"\},\{"label":"","value":"2","type":"str"\},\{"label":"","value":"3","type":"str"\}],"payload":"","topic":"bike_n","x":102,"y":588,"wires":[["8f527abc.5b5e18"]]\},\{"id":"8e21ca74.ef21f8","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"968d47ce.aa59e8","order":3,"width":"2","height":"2","gtype":"wave","title":"","label":"W","format":"\{\{value\}\}","min":0,"max":"250","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":649,"y":671,"wires":[]\},\{"id":"c6d8c016.4dac6","type":"ui_gauge","z":"372e66df.e3fb7a","name":"Wh gauge","group":"968d47ce.aa59e8","order":4,"width":"2","height":"2","gtype":"wave","title":"","label":"Wh","format":"\{\{value\}\}","min":0,"max":"120","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":668,"y":713,"wires":[]\},\{"id":"2056eb1.325a594","type":"ui_chart","z":"372e66df.e3fb7a","name":"","group":"968d47ce.aa59e8","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"250","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":844,"y":670,"wires":[[],[]]\},\{"id":"2d607704.b128e","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"968d47ce.aa59e8","order":3,"width":"2","height":"2","gtype":"wave","title":"","label":"POS","format":"\{\{value\}\}","min":0,"max":"10","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":654,"y":761,"wires":[]\},\{"id":"8aba7c8c.97ef2","type":"function","z":"372e66df.e3fb7a","name":"get_bike_3_data_obj","func":"\\nvar b1 = \\"bike_\\";\\nvar bn = global.get('bike_n_3')|| 1;\\nvar b2 = \\"_data\\";\\nvar b3 = \\"_Wh\\";\\nvar bp = \\"_pos\\";\\n\\n\\n//set bike number\\nif (msg.topic == \\"bike_n\\")\{\\n     bn = msg.payload ;\\n     global.set('bike_n_3',bn);\\n     node.error(bn);\\n\}\\n\\n// get bike number obj\\nvar bike = b1 + bn+ b2;\\nvar bike_data_obj = global.get(bike);\\n\\n// get bike Wh\\nvar bike_Wh_name = b1+bn+ b3;\\n//global.set( bike_Wh_name , bike_data_obj.wh );\\n\\n// get bike pos\\nvar bike_pos_name = b1 + bn + bp;\\nvar bike_pos = global.get(bike_pos_name);\\n\\n\\nvar run = global.get('run')|| 1;\\nif (run === true )\\n    var msgW = \{ payload: bike_data_obj.w \};\\nelse \\n    var msgW = \{ payload: 0 \};\\n    \\nvar msgWh = \{ payload: bike_data_obj.wh \};\\nvar msgPos = \{payload: bike_pos\};\\n\\n\\nreturn [msgW, msgWh, msgPos];\\n\\n","outputs":"3","noerr":0,"x":385,"y":984,"wires":[["fb9e147.6ca15e8","449a17c7.1ed918","799ced47.28ab4c"],["1123ac77.6550f4"],["e01d736.ecdc41"]],"outputLabels":["W","Wh","POS"]\},\{"id":"905bdfca.3f4938","type":"inject","z":"372e66df.e3fb7a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":142.5,"y":1011,"wires":[["a5d0f615.50c99","a4622dcb.5e3ea8"]]\},\{"id":"799ced47.28ab4c","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"true","x":651,"y":917,"wires":[]\},\{"id":"17cfb616.5a29c2","type":"ui_dropdown","z":"372e66df.e3fb7a","name":"","label":"bike_selector","place":"Select option","group":"d064c4d3.89832","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"","value":"1","type":"str"\},\{"label":"","value":"2","type":"str"\},\{"label":"","value":"3","type":"str"\}],"payload":"","topic":"bike_n","x":102.5,"y":911,"wires":[["8aba7c8c.97ef2"]]\},\{"id":"fb9e147.6ca15e8","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"ab467671.b9a7d8","order":3,"width":"2","height":"2","gtype":"wave","title":"","label":"W","format":"\{\{value\}\}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":651.5,"y":972,"wires":[]\},\{"id":"1123ac77.6550f4","type":"ui_gauge","z":"372e66df.e3fb7a","name":"Wh gauge","group":"ab467671.b9a7d8","order":4,"width":"2","height":"2","gtype":"wave","title":"","label":"Wh","format":"\{\{value\}\}","min":0,"max":"120","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":670.5,"y":1014,"wires":[]\},\{"id":"449a17c7.1ed918","type":"ui_chart","z":"372e66df.e3fb7a","name":"","group":"ab467671.b9a7d8","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"800","removeOlder":"1","removeOlderPoints":"250","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":855.5,"y":971,"wires":[[],[]]\},\{"id":"e01d736.ecdc41","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"ab467671.b9a7d8","order":3,"width":"2","height":"2","gtype":"wave","title":"","label":"POS","format":"\{\{value\}\}","min":0,"max":"10","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":656.5,"y":1062,"wires":[]\},\{"id":"735ee193.c81148","type":"debug","z":"5426cdb5.17c67c","name":"","active":false,"console":"false","complete":"payload","x":550,"y":578,"wires":[]\},\{"id":"801e7c1f.540f1","type":"function","z":"372e66df.e3fb7a","name":"Clear charts","func":"\\nmsg.topic = \\"Clear\\";\\nmsg.payload = [];\\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":225,"wires":[["d577b4d2.8c30a8","2056eb1.325a594","449a17c7.1ed918"]]\},\{"id":"fb412da6.fddd28","type":"ui_button","z":"372e66df.e3fb7a","name":"","group":"d742bc28.de205","order":4,"width":"0","height":"0","passthru":false,"label":"CLEAR","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":383,"y":125,"wires":[["801e7c1f.540f1"]]\},\{"id":"ce3035df.7159e8","type":"inject","z":"5426cdb5.17c67c","name":"","topic":"com","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":102,"y":97,"wires":[["7617fde1.c69524"]]\},\{"id":"7617fde1.c69524","type":"mqtt out","z":"5426cdb5.17c67c","name":"","topic":"bikes/com","qos":"","retain":"","broker":"c26aaba8.df44d8","x":422,"y":107,"wires":[]\},\{"id":"748fc4cf.114d74","type":"ui_button","z":"5426cdb5.17c67c","name":"","group":"31bc35cb.69f60a","order":1,"width":0,"height":0,"passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":92,"y":141,"wires":[["7617fde1.c69524","1e0d3e57.b7f7fa"]]\},\{"id":"eeaa8125.87f388","type":"ui_button","z":"5426cdb5.17c67c","name":"","group":"d742bc28.de205","order":2,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":90,"y":188,"wires":[["7617fde1.c69524","8d6a86e7.112818"]]\},\{"id":"489f299f.d3cab","type":"ui_button","z":"5426cdb5.17c67c","name":"","group":"31bc35cb.69f60a","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":92,"y":231,"wires":[["7617fde1.c69524","db2ea210.9c2d2"]]\},\{"id":"79ca1efd.aa92e","type":"http in","z":"d60cef19.9560f8","name":"","url":"/mysite","method":"get","upload":false,"swaggerDoc":"","x":225,"y":367,"wires":[["12250589.bff382"]]\},\{"id":"99b61cf.ffed3e","type":"http in","z":"d60cef19.9560f8","name":"","url":"/mysitepost","method":"post","swaggerDoc":"","x":245,"y":567,"wires":[["f2bb481f.4a6988","a25e7c66.e08808"]]\},\{"id":"12250589.bff382","type":"function","z":"d60cef19.9560f8","name":"msg.url = \\"mysitepost\\";","func":"msg.url = \\"mysitepost\\";\\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":367,"wires":[["40044457.26b884"]]\},\{"id":"f2bb481f.4a6988","type":"debug","z":"d60cef19.9560f8","name":"mysitepost","active":true,"console":"false","complete":"payload","x":885,"y":567,"wires":[]\},\{"id":"d237a83c.1b12","type":"http response","z":"d60cef19.9560f8","name":"","x":905,"y":527,"wires":[]\},\{"id":"eefca93b.05b57","type":"template","z":"d60cef19.9560f8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select \{\\n    width: 100%;\\n    padding: 12px 20px;\\n    margin: 8px 0;\\n    display: inline-block;\\n    border: 1px solid #ccc;\\n    border-radius: 4px;\\n    box-sizing: border-box;\\n\}\\n\\ninput[type=submit] \{\\n    width: 100%;\\n    background-color: #4CAF50;\\n    color: white;\\n    padding: 14px 20px;\\n    margin: 8px 0;\\n    border: none;\\n    border-radius: 4px;\\n    cursor: pointer;\\n\}\\n\\ninput[type=submit]:hover \{\\n    background-color: #45a049;\\n\}\\n\\ndiv \{\\n    border-radius: 5px;\\n    background-color: #f2f2f2;\\n    padding: 20px;\\n\}","x":625,"y":467,"wires":[["5004303d.2b7cd"]]\},\{"id":"40044457.26b884","type":"template","z":"d60cef19.9560f8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) \{\\n    \\n    $(\\"form[ajax=true]\\").submit(function(e) \{\\n        \\n        e.preventDefault();\\n        \\n        var form_data = $(this).serialize();\\n        var form_url = $(this).attr(\\"action\\");\\n        var form_method = $(this).attr(\\"method\\").toUpperCase();\\n        \\n        $(\\"#loadingimg\\").show();\\n        \\n        $.ajax(\{\\n            url: form_url, \\n            type: form_method,      \\n            data: form_data,     \\n            cache: false,\\n            success: function(returnhtml)\{                          \\n                $(\\"#result\\").html(returnhtml); \\n                $(\\"#loadingimg\\").hide();                    \\n            \}           \\n        \});    \\n        \\n    \});\\n    \\n\});","output":"str","x":465,"y":467,"wires":[["eefca93b.05b57"]]\},\{"id":"9c66afe5.516ad","type":"http response","z":"d60cef19.9560f8","name":"","statusCode":"","headers":\{\},"x":905,"y":467,"wires":[]\},\{"id":"5004303d.2b7cd","type":"template","z":"d60cef19.9560f8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\\n  <head>\\n    <title>My Site</title>\\n    <meta name=\\"viewport\\" content=\\"initial-scale=1.0, user-scalable=no\\">\\n    <meta charset=\\"utf-8\\">\\n    <script src=\\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\\"></script>\\n    <style>\{\{\{payload.style\}\}\}</style>\\n  </head>\\n  \\n\\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\\n    <h4><a href=\\"http://www.internetoflego.com\\">Internet of LEGO</a></h4>\\n\\n<div>\\n  <form method=\\"post\\" action=\\"/\{\{url\}\}\\" ajax=\\"true\\">\\n    <label for=\\"fname\\">First Name</label>\\n    <input type=\\"text\\" id=\\"fname\\" name=\\"firstname\\">\\n\\n    <label for=\\"lname\\">Last Name</label>\\n    <input type=\\"text\\" id=\\"lname\\" name=\\"lastname\\">\\n\\n    <label for=\\"country\\">Country</label>\\n    <select id=\\"country\\" name=\\"country\\">\\n      <option value=\\"uk\\">United Kingdom</option>\\n      <option value=\\"canada\\">Canada</option>\\n      <option value=\\"usa\\">USA</option>\\n    </select>\\n  \\n    <input type=\\"submit\\" value=\\"Submit\\">\\n  </form>\\n</div>\\n<div>\\n    <span id=\\"result\\"></span>\\n</div>\\n\\n</body>\\n</html>\\n<script>\{\{\{payload.script\}\}\}</script>","x":765,"y":467,"wires":[["9c66afe5.516ad"]]\},\{"id":"637e9b2.6e60be4","type":"comment","z":"d60cef19.9560f8","name":"Login Form","info":"","x":425,"y":427,"wires":[]\},\{"id":"d76f0b09.afc19","type":"function","z":"d60cef19.9560f8","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\\nreturn msg;","outputs":1,"noerr":0,"x":635,"y":527,"wires":[["d237a83c.1b12"]]\},\{"id":"fc962876.d66cf","type":"comment","z":"d60cef19.9560f8","name":"Inject msg object properties","info":"","x":435,"y":327,"wires":[]\},\{"id":"a25e7c66.e08808","type":"json","z":"d60cef19.9560f8","name":"","x":445,"y":527,"wires":[["d76f0b09.afc19"]]\},\{"id":"4458e4a5.5e268c","type":"comment","z":"d60cef19.9560f8","name":"Website","info":"","x":205,"y":287,"wires":[]\},\{"id":"db6cd30.1ee2b3","type":"comment","z":"d60cef19.9560f8","name":"Form Submission","info":"","x":235,"y":507,"wires":[]\},\{"id":"2e8912d.8e5306e","type":"comment","z":"d60cef19.9560f8","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\\na simple frontend webpage with Node-RED.\\n\\nThe public facing page consists of the \\nclient side JavaScript, CSS and HTML. \\n\\nThe important technique is how the mustache \\ntemplates are used. Each template will set the\\n\\"property\\" relative to the content. \\n\\nThe CSS node sets the \\"msg.payload.style\\" property.\\nThe JavaScript node sets the \\"msg.payload.script\\" property.\\nThe HTML node then includes these properties \\n<script>\{\{\{payload.script\}\}\}</script>\\n<style>\{\{\{payload.style\}\}\}</style>\\n\\n\\nThis example was created by http://www.InternetofLEGO.com\\n\\n","x":535,"y":187,"wires":[]\},\{"id":"1427e3e0.15812c","type":"debug","z":"d60cef19.9560f8","name":"","active":true,"console":"false","complete":"false","x":654,"y":714,"wires":[]\},\{"id":"3e5149de.ada52e","type":"inject","z":"d60cef19.9560f8","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":284,"y":694,"wires":[["1cc31831.f574"]]\},\{"id":"1cc31831.f574","type":"ui_template","z":"d60cef19.9560f8","group":"275cf209.4b487e","name":"testing payload","order":0,"width":"6","height":"6","format":"<h3>Testing dynamic scripts with Dashboard 2.0</h3>\\n\{\{msg.payload\}\}\\n<script>\\n    (function(scope) \{\\n        console.log('Position 1');\\n        console.dir(scope);\\n        console.log(scope.msg);\\n        scope.$watch('msg.payload', function(data) \{\\n            console.log('Position 2');\\n            console.dir(data);\\n        \});\\n    \})(scope);\\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":484,"y":714,"wires":[["1427e3e0.15812c"]]\},\{"id":"cb1ee515.f2ea4","type":"inject","z":"d60cef19.9560f8","name":"","topic":"","payload":"not welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":294,"y":734,"wires":[["1cc31831.f574"]]\},\{"id":"828e26f.ad2d6d8","type":"ui_switch","z":"9e7d2b6b.edc5a","name":"","label":"switch","group":"bc2e19ea.b762c","order":0,"width":0,"height":0,"passthru":true,"topic":"on_off","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":218.5,"y":179,"wires":[["ffcad968.81168"]]\},\{"id":"c1add797.c02bd","type":"ui_numeric","z":"9e7d2b6b.edc5a","name":"","label":"numeric","group":"bc2e19ea.b762c","order":0,"width":0,"height":0,"passthru":true,"topic":"numeric","format":"\{\{value\}\}","min":0,"max":10,"step":1,"x":207.5,"y":240,"wires":[["ffcad968.81168"]]\},\{"id":"ffcad968.81168","type":"function","z":"9e7d2b6b.edc5a","name":"","func":"var time = 0;\\n\\nif (msg.topic == \\"numeric\\")\{\\n    var time = msg.payload;\\n    return null;\\n\}\\nelse if (msg.topic == \\"on_off\\")\{\\n    setTimeout(\{payload:\\"off\\"\},time);\\n    return \{payload:\\"on\\"\};\\n\}","outputs":1,"noerr":0,"x":359.5,"y":207,"wires":[["a4934ab0.2be36"]]\},\{"id":"a4934ab0.2be36","type":"debug","z":"9e7d2b6b.edc5a","name":"","active":true,"console":"false","complete":"payload","x":580.5,"y":166,"wires":[]\},\{"id":"d9debfde.b602c8","type":"comment","z":"5426cdb5.17c67c","name":"MQTT ","info":"\\n\\nFrom a node-red\\n--------\\n\\nbikes/com\\n\\n\\n\\n    all bike command topicic are a same in one network.\\n    \\n    messages:\\n        \\"1\\" Start  \\n        \\"0\\" Stop \\n        \\"2\\" Pause\\n        \\"3\\" Reste ??\\n \\n ---------\\n bikes/timer\\n \\n    all bike countdown countup timer value\\n    \\n        \\"min:sec\\" \\n \\n \\n\\ncontext.set\\n\\n\\nFrom bike \\n--------- \\nchange topic -> Configure.h \\n\\n---------\\n\\nmain data jason source:\\nbikes/bike(number)/message\\n\\n root[\\"wh\\"] = float\\n  root[\\"w\\"] = float\\n  root[\\"id\\"] = HW_ID\\n  root [\\"V\\"] = float\\n  \\n\\n\\n ---------\\n disbabled !!!\\nbikes/bike(number)/temp \\n    temporary tets value \\n    \\n ---------\\ndisbabled !!!\\nbikes/bike(number)/w\\n    1s resoutuion power   \\n    \\n ---------\\n disbabled !!!\\nbikes/bike(number)/wh\\n    \\n    calculated sum power drived by timer/ com\\n ---------\\n\\nbikes/bike(number)/led\\n    \\n ---------\\n\\nbikes/bike(number)/pos\\n    \\n    bike currne positsion \\n    \\n ---------\\n\\nbike/bike(number)/name\\n(not installad just plane ) \\n    tempray racer name \\n ---------","x":403.5,"y":62,"wires":[]\},\{"id":"4614d53d.7c9b1c","type":"comment","z":"5426cdb5.17c67c","name":"MQTT ","info":"all bike timer topicic are a same in one network.\\n\\n\\n\\n","x":798,"y":1133,"wires":[]\},\{"id":"a5d0f615.50c99","type":"function","z":"372e66df.e3fb7a","name":"bike_wh_compear","func":"var bike1_Wh = context.get('bike_1_Wh') || 0;\\nvar bike2_Wh = context.get('bike_2_Wh') || 0;\\nvar bike3_Wh = context.get('bike_3_wh') || 0;\\n\\nvar msg1 = \{payload: bike1_Wh\};\\nvar msg2 = \{payload: bike2_Wh\};\\nvar msg3 = \{payload: bike3_Wh\};\\n\\n\\n\\nreturn [msg1, msg2 ,msg3];","outputs":"4","noerr":0,"x":404,"y":1236,"wires":[["1ef5ed06.289e2b"],["3b5be614.b4ccd2"],["1f1b3a36.19874e"],[]]\},\{"id":"1ef5ed06.289e2b","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":657,"y":1211,"wires":[]\},\{"id":"3b5be614.b4ccd2","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":661,"y":1251,"wires":[]\},\{"id":"1f1b3a36.19874e","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":662,"y":1298,"wires":[]\},\{"id":"1307dead.383ff9","type":"debug","z":"5426cdb5.17c67c","name":"","active":false,"console":"false","complete":"true","x":1024,"y":756,"wires":[]\},\{"id":"d822d7bc.2d1bc8","type":"ui_slider","z":"14dc65d6.e1936a","name":"","label":"bike 2 Wh","group":"9b2dd94a.042cc8","order":2,"width":0,"height":0,"passthru":true,"topic":"whS","min":0,"max":"300","step":1,"x":111,"y":191,"wires":[["f60e6bb6.f2e16"]]\},\{"id":"fcc11d72.30a5e8","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"true","x":664,"y":1481,"wires":[]\},\{"id":"a4622dcb.5e3ea8","type":"function","z":"372e66df.e3fb7a","name":"POS","func":"//var array2 = msg.payload;\\n\\nvar bike1 = global.get('bike_1_data').wh || 0;\\nvar bike2 = global.get('bike_2_data').wh || 0;\\nvar bike3 = 0;//global.get('bike_3_data').wh || 0;\\n\\nvar b1 = [bike1 , 1];\\nvar b2 = [bike2 , 2];\\nvar b3 = [bike3 , 3];\\n\\n\\nvar myarray=[b1[0], b2[0], b3[0]];\\n\\nmyarray.sort(function(a,b)\{ //Array now becomes [41, 25, 8, 7]\\n    return b - a;\\n\});\\n\\n\\nvar a = myarray.indexOf(b1[0], 0);\\nvar b = myarray.indexOf(b2[0], 0);\\nvar c = myarray.indexOf(b3[0], 0);\\n\\nvar array2 = [a+1, b+1, c+1];\\n//var array = array2.sort();\\nvar array = myarray;\\n\\n\\n/// store bike position back in context \\n\\nglobal.set('bike_1_pos', array2[0]);\\nglobal.set('bike_2_pos', array2[1]);\\nglobal.set('bike_3_pos', array2[2]);\\n\\n\\n\\nmsgA =\{payload: array[0] +  \\" // \\" + array[1]+  \\" // \\" + array[2] \};\\n//msgB =  \{payload: array[0][0] +  \\" // \\" + array[1][0] +  \\" // \\" + array[2][0]\}; \\nmsgB =  \{payload: \\"b1P: \\" +  array2[0] +\\" b2P: \\" +  array2[1] + \\" b3P: \\" + array2[2]\};\\n\\nvar msgP = \{ b1P:  array2[0] , b2P:  array2[1], b3P:  array2[2]\};\\n    //msgP = \{ b2P:  array2[1] \};\\n    //msgP = \{ b3P:  array2[2] \};\\n    \\nreturn [msgA, msgB , msgP];\\n","outputs":"3","noerr":0,"x":369,"y":1484,"wires":[["a5e0d4c8.56c658"],["fcc11d72.30a5e8"],["9b043954.9c7d28","2e345d01.201d02","b95f5df2.58ba38"]]\},\{"id":"3607c981.5ad2e6","type":"function","z":"d1fddea9.b6ee8","name":"CountDown Timer","func":"\\nvar m = context.get('m') || 0;\\nvar s = context.get('s') || 0;\\n\\nvar secTmp ;\\nvar minTmp;\\n\\nvar msgCOM = 0; //message for the bike start stop reset Wh value,\\n\\nvar value  = context.get('value') || 1000;\\n\\n\\nif (msg.topic == \\"s\\")\\n    \{\\n      s = msg.payload *1000 ;\\n      context.set('s',s);  \\n    \}\\n\\nelse if (msg.topic == \\"m\\")\\n    \{\\n      m = msg.payload* 60000;\\n      context.set('m',m);  \\n    \}\\n\\nelse if (msg.topic == \\"reset\\")\\n    \{\\n        // stop\\n            \\n    var timerstop  = context.get('timer');\\n    clearTimeout(timerstop);\\n    \\n    var countdownstop  = context.get('countdown');\\n    clearInterval(countdownstop);\\n    \\n        ///\\n      \\n      var msgR = \{payload:  \\"00:00\\"\};\\n       msgCOM = \{payload: \\"3\\"\}\\n    node.send([msgR,msgR,msgCOM]);\\n        \\n        \\n    \}\\n\\nelse if (msg.topic == \\"start\\")\\n    \{\\n        // stop\\n            \\n    var timerstop  = context.get('timer');\\n    clearTimeout(timerstop);\\n    \\n    var countdownstop  = context.get('countdown');\\n    clearInterval(countdownstop);\\n    \\n        \\n        ///\\n   \\n        \\n    value = m + s;\\n    //context.set('value',value); \\n    \\n    var timer = setTimeout(function()\{\\n        msg.payload = \\"off\\";\\n         msgCOM = \{payload: \\"0\\"\}\\n        node.send([msg,\{ payload: \\"End\\" \},msgCOM]);\\n        var countdownstop  = context.get('countdown');\\n        clearInterval(countdownstop)\},\\n        value);\\n    \\n    context.set('timer',timer); \\n    \\n    var count = value /1000 ;\\n    //count = count -1 ;\\n    msg.payload=count;\\n    \\n         secTmp = Math.floor(count % (60) );\\n         minTmp = Math.floor(count / 60 );//Math.floor((count % (60)) /60 ) ;\\n    \\n        var msgO = \{payload:  minTmp +\\":\\"+ secTmp \};\\n        msgCOM = \{payload: \\"1\\"\}\\n    node.send([msgO,msgO,msgCOM]);\\n    \\n    \\n    var countdown = setInterval(function() \{\\n        count=count-1;\\n        msg.payload = count; \\n        \\n        //var minTmp = Math.floor((count % (60)) /60 ) ;\\n         secTmp = Math.floor(count % (60) );\\n         minTmp = Math.floor(count / 60 );//Math.floor((count % (60)) /60 ) ;\\n\\n       \\n        \\n        \\n        var msgP = \{payload:  minTmp +\\":\\"+ secTmp \};\\n         \\n        node.send([msgP,msgP]) \}, 1000);\\n        \\n    context.set('countdown',countdown);\\n    \\n    \}\\n\\n\\n\\n\\nelse if (msg.topic == \\"stop\\")\\n    \{\\n     \\n    var timerstop  = context.get('timer');\\n    clearTimeout(timerstop);\\n    \\n    var countdownstop  = context.get('countdown');\\n    clearInterval(countdownstop);\\n    \\n     msgCOM = \{payload: \\"0\\"\};\\n     node.send([false,false,msgCOM]);\\n    \\n    \}\\n\\n\\n\\n","outputs":"3","noerr":0,"x":469,"y":170,"wires":[["cc05bc64.c32038","cf113517.73cb4"],["a8f0f86d.392fb8","f60d8e91.a3bdb"],["e287b715.7ba048"]],"outputLabels":["","","mqtt"]\},\{"id":"70984205.b6cd04","type":"ui_button","z":"d1fddea9.b6ee8","name":"","group":"53b41525.5e5e8c","order":3,"width":"3","height":"1","passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":162,"y":158,"wires":[["3607c981.5ad2e6"]]\},\{"id":"fa7e3b8a.960d28","type":"ui_numeric","z":"d1fddea9.b6ee8","name":"","label":"Sleep Timer in Sec","group":"53b41525.5e5e8c","order":2,"width":"0","height":"0","passthru":true,"topic":"s","format":"\{\{value\}\}","min":"0","max":"300","step":1,"x":131,"y":238,"wires":[["3607c981.5ad2e6"]]\},\{"id":"86641e8e.c4dc7","type":"ui_button","z":"d1fddea9.b6ee8","name":"","group":"53b41525.5e5e8c","order":5,"width":"3","height":"1","passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":162,"y":198,"wires":[["3607c981.5ad2e6"]]\},\{"id":"a8f0f86d.392fb8","type":"ui_text","z":"d1fddea9.b6ee8","group":"53b41525.5e5e8c","order":6,"width":0,"height":0,"name":"","label":"COUNT DOWN:","format":"\{\{msg.payload\}\} Sec","layout":"row-spread","x":859,"y":217,"wires":[]\},\{"id":"cc05bc64.c32038","type":"debug","z":"d1fddea9.b6ee8","name":"","active":false,"console":"false","complete":"false","x":854,"y":137,"wires":[]\},\{"id":"d8f6f000.c611f8","type":"ui_numeric","z":"d1fddea9.b6ee8","name":"","label":"Sleep Timer in min","group":"53b41525.5e5e8c","order":1,"width":"0","height":"0","passthru":true,"topic":"m","format":"\{\{value\}\}","min":"0","max":"300","step":1,"x":129,"y":289,"wires":[["3607c981.5ad2e6"]]\},\{"id":"cf113517.73cb4","type":"mqtt out","z":"d1fddea9.b6ee8","name":"","topic":"bikes/timer","qos":"0","retain":"false","broker":"c26aaba8.df44d8","x":849,"y":57,"wires":[]\},\{"id":"f60d8e91.a3bdb","type":"ui_template","z":"d1fddea9.b6ee8","group":"31bc35cb.69f60a","name":"","order":0,"width":0,"height":0,"format":"\\n<h3>\\n<div  ng-bind-html=\\"msg.payload\\"></div>\\n</h3>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":840,"y":275,"wires":[[]]\},\{"id":"1613cd14.84de2b","type":"ui_button","z":"d1fddea9.b6ee8","name":"","group":"53b41525.5e5e8c","order":4,"width":"3","height":"1","passthru":false,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"reset","x":161,"y":117,"wires":[["3607c981.5ad2e6"]]\},\{"id":"e287b715.7ba048","type":"mqtt out","z":"d1fddea9.b6ee8","name":"","topic":"bikes/com","qos":"0","retain":"false","broker":"c26aaba8.df44d8","x":856,"y":350,"wires":[]\},\{"id":"e907cb76.c73118","type":"function","z":"14dc65d6.e1936a","name":"bike 1 simulator","func":"var tmpJ= \{\\"wh\\":100,\\"w\\":639,\\"id\\":1,\\"V\\":12.1,\\"data\\":[48.75608,2.302038]\}\\n\\nif (msg.topic == \\"whS\\")\\ntmpJ.wh = msg.payload;\\n\\n\\nvar msgJ =  \{payload: tmpJ \};\\n\\n\\nreturn msgJ;","outputs":1,"noerr":0,"x":368,"y":136,"wires":[["d20671df.9a5d7","5e1dad4f.d2bb6c"]]\},\{"id":"5e1dad4f.d2bb6c","type":"debug","z":"14dc65d6.e1936a","name":"","active":false,"console":"false","complete":"payload","x":651,"y":138,"wires":[]\},\{"id":"f72e2528.1e9a2","type":"inject","z":"14dc65d6.e1936a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":134,"wires":[["e907cb76.c73118"]]\},\{"id":"f60e6bb6.f2e16","type":"function","z":"14dc65d6.e1936a","name":"bike 2 simulator","func":"var tmpJ= \{\\"wh\\":100,\\"w\\":639,\\"id\\":2,\\"V\\":12.1,\\"data\\":[48.75608,2.302038]\}\\n\\nif (msg.topic == \\"whS\\")\\ntmpJ.wh = msg.payload;\\n\\n\\nvar msgJ =  \{payload: tmpJ \};\\n\\n\\nreturn msgJ;","outputs":1,"noerr":0,"x":367,"y":241,"wires":[["d20671df.9a5d7"]]\},\{"id":"f143b8e0.19a04","type":"inject","z":"14dc65d6.e1936a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":239,"wires":[["f60e6bb6.f2e16"]]\},\{"id":"5945be40.c7bf58","type":"function","z":"14dc65d6.e1936a","name":"bike 3 simulator","func":"var tmpJ= \{\\"wh\\":100,\\"w\\":639,\\"id\\":3,\\"V\\":12.1,\\"data\\":[48.75608,2.302038]\}\\n\\nif (msg.topic == \\"whS\\")\\ntmpJ.wh = msg.payload;\\n\\n\\nvar msgJ =  \{payload: tmpJ \};\\n\\n\\nreturn msgJ;","outputs":1,"noerr":0,"x":362,"y":354,"wires":[["d20671df.9a5d7"]]\},\{"id":"97d49210.566cf","type":"inject","z":"14dc65d6.e1936a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":113,"y":352,"wires":[["5945be40.c7bf58"]]\},\{"id":"4c263cc9.582794","type":"debug","z":"372e66df.e3fb7a","name":"","active":true,"console":"false","complete":"payload","x":893,"y":1478,"wires":[]\},\{"id":"87397648.3503f8","type":"mqtt out","z":"372e66df.e3fb7a","name":"","topic":"bikes/bike1/pos","qos":"","retain":"","broker":"c26aaba8.df44d8","x":903,"y":1429,"wires":[]\},\{"id":"9b043954.9c7d28","type":"function","z":"372e66df.e3fb7a","name":"reducer","func":"var name = 'bike_1_pos';\\nvar last = global.get(name) || 0;\\n\\nvar now= msg.b1P.toString();\\n//var now= \{payload: msg.b1P\};\\n\\n\\n\\nif (last != now) \{\\n    global\\n.set(name, now);\\n    var msg1= \{payload: now\};\\n    //node.error(now);\\n//node.error(last);\\n    //node.error(last);\\n    return msg1;\\n\}\\n","outputs":1,"noerr":0,"x":665,"y":1533,"wires":[["4c263cc9.582794","87397648.3503f8"]]\},\{"id":"9917ccd3.99c5c","type":"reduce","z":"372e66df.e3fb7a","name":"","topic":"","reduceFunctionExpr":"","reduceRight":false,"x":386,"y":1414,"wires":[[]]\},\{"id":"2e345d01.201d02","type":"function","z":"372e66df.e3fb7a","name":"reducer","func":"var name = 'bike_2_pos';\\nvar last = global.get(name) || 0;\\n\\nvar now= msg.b2P.toString();\\n//var now= \{payload: msg.b1P\};\\n\\n\\n\\n\\nif (last != now) \{\\n    global.set(name, now);\\n    var msg1= \{payload: now\};\\n    //node.error(now);\\n//node.error(last);\\n    //node.error(last);\\n    return msg1;\\n\}\\n","outputs":1,"noerr":0,"x":667,"y":1584,"wires":[["9519bdf.f22634","d7512691.27a3e8"]]\},\{"id":"b95f5df2.58ba38","type":"function","z":"372e66df.e3fb7a","name":"reducer","func":"var name = 'bike_3_pos';\\nvar last = global.get(name) || 0;\\n\\nvar now= msg.b3P.toString();\\n//var now= \{payload: msg.b1P\};\\n\\n\\n\\n\\nif (last != now) \{\\n    global.set(name, now);\\n    var msg1= \{payload: now\};\\n    //node.error(now);\\n//node.error(last);\\n    //node.error(last);\\n    return msg1;\\n\}\\n","outputs":1,"noerr":0,"x":667,"y":1648,"wires":[["5be21233.03724c","e7d4bd6b.c754"]]\},\{"id":"d7512691.27a3e8","type":"mqtt out","z":"372e66df.e3fb7a","name":"","topic":"bikes/bike2/pos","qos":"","retain":"","broker":"c26aaba8.df44d8","x":900,"y":1595,"wires":[]\},\{"id":"e7d4bd6b.c754","type":"mqtt out","z":"372e66df.e3fb7a","name":"","topic":"bikes/bike3/pos","qos":"","retain":"","broker":"c26aaba8.df44d8","x":903,"y":1741,"wires":[]\},\{"id":"922d49c6.b7918","type":"ui_text_input","z":"5426cdb5.17c67c","name":"","label":"Bike1 Label:","group":"8049c44c.6013a8","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_1_name","x":715,"y":102,"wires":[["a04a83a1.29f218"]]\},\{"id":"a04a83a1.29f218","type":"ui_text","z":"5426cdb5.17c67c","group":"f6db4243.be0728","order":2,"width":0,"height":0,"name":"Bike_1_text","label":"Bike 1:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":981.5,"y":102,"wires":[]\},\{"id":"8b939e4e.07e298","type":"ui_text_input","z":"5426cdb5.17c67c","name":"","label":"Bike2 Label:","group":"7f8d04a6.faf4dc","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_2_name","x":713,"y":154,"wires":[["1cd5aaa9.8db8a5"]]\},\{"id":"1cd5aaa9.8db8a5","type":"ui_text","z":"5426cdb5.17c67c","group":"968d47ce.aa59e8","order":2,"width":0,"height":0,"name":"Bike_2_text","label":"Bike 2:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":979.5,"y":154,"wires":[]\},\{"id":"3846e763.66113","type":"ui_text_input","z":"5426cdb5.17c67c","name":"","label":"Bike3 Label:","group":"d064c4d3.89832","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_3_name","x":714,"y":209,"wires":[["f08294c5.82eee8"]]\},\{"id":"f08294c5.82eee8","type":"ui_text","z":"5426cdb5.17c67c","group":"ab467671.b9a7d8","order":2,"width":0,"height":0,"name":"Bike_3_text","label":"Bike 3:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":980.5,"y":209,"wires":[]\},\{"id":"9519bdf.f22634","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":888,"y":1556,"wires":[]\},\{"id":"5be21233.03724c","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":890,"y":1701,"wires":[]\},\{"id":"a5e0d4c8.56c658","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"true","x":660,"y":1434,"wires":[]\},\{"id":"fead44da.b271d","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":675,"y":605,"wires":[]\},\{"id":"8d6a86e7.112818","type":"function","z":"5426cdb5.17c67c","name":"clear_data","func":"var name1 = 'bike_1_pos';\\nvar name2 = 'bike_2_pos';\\nvar name3 = 'bike_3_pos';\\n\\n//var last = context.get(name) || 0;\\nglobal.set(name1, 0);\\nglobal.set(name2, 0);\\nglobal.set(name3, 0);","outputs":1,"noerr":0,"x":430,"y":209,"wires":[[]]\},\{"id":"7c26c731.29abd8","type":"debug","z":"372e66df.e3fb7a","name":"","active":false,"console":"false","complete":"payload","x":370,"y":184,"wires":[]\},\{"id":"7b32bd34.7955bc","type":"function","z":"372e66df.e3fb7a","name":"Clear charts","func":"\\nvar s = msg.payload;\\nglobal.set('run', s);\\nvar msg1 = \{payload: s\};\\nreturn msg1;","outputs":1,"noerr":0,"x":235,"y":249,"wires":[["7c26c731.29abd8"]]\},\{"id":"ab1848da.44f4f","type":"ui_switch","z":"372e66df.e3fb7a","name":"","label":"switch","group":"31bc35cb.69f60a","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120.5,"y":181,"wires":[["7b32bd34.7955bc"]]\},\{"id":"1e0d3e57.b7f7fa","type":"function","z":"5426cdb5.17c67c","name":"on_data","func":"\\nglobal.set('run', true);","outputs":1,"noerr":0,"x":418,"y":170,"wires":[[]]\},\{"id":"db2ea210.9c2d2","type":"function","z":"5426cdb5.17c67c","name":"off_data","func":"\\nglobal.set('run', false);","outputs":1,"noerr":0,"x":419,"y":254,"wires":[[]]\}]}