bike_node_red-flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"7629aa6d.a93b34","type":"ui_slider","z":"372e66df.e3fb7a","name":"","label":"333","group":"5ed28a0c.c6af34","order":3,"width":"6","height":"4","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":262,"y":82,"wires":[["fa1ff219.369f1"]]\},\{"id":"fa1ff219.369f1","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"5ed28a0c.c6af34","order":4,"width":"6","height":"6","gtype":"wave","title":"","label":"VAh","format":"\{\{value\}\}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":469,"y":80,"wires":[]\},\{"id":"e4ea3d4b.a1d68","type":"mqtt in","z":"372e66df.e3fb7a","name":"mqtt1","topic":"bikes/bike1/temp","qos":"1","broker":"c26aaba8.df44d8","x":131.5,"y":209,"wires":[["7629aa6d.a93b34","e4e9ea00.e83b08","70c67d72.665624","137a27b5.2d1fb"]]\},\{"id":"e4e9ea00.e83b08","type":"ui_text","z":"372e66df.e3fb7a","group":"5ed28a0c.c6af34","order":5,"width":0,"height":0,"name":"","label":"text","format":"\{\{msg.payload\}\}","layout":"row-spread","x":468.5,"y":142,"wires":[]\},\{"id":"70c67d72.665624","type":"ui_chart","z":"372e66df.e3fb7a","name":"","group":"5ed28a0c.c6af34","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":465.5,"y":200,"wires":[[],["f5e08a92.3d4"]]\},\{"id":"f5e08a92.3d4","type":"file in","z":"372e66df.e3fb7a","name":"","filename":"test","format":"utf8","chunk":false,"sendError":false,"x":716.5,"y":202,"wires":[[]]\},\{"id":"137a27b5.2d1fb","type":"capture","z":"372e66df.e3fb7a","name":"","size":10,"period":30,"interval":5,"onNewMessage":false,"x":467,"y":270,"wires":[["86fd5720.3009d8"]]\},\{"id":"86fd5720.3009d8","type":"ui_text","z":"372e66df.e3fb7a","group":"5ed28a0c.c6af34","order":7,"width":"6","height":"5","name":"","label":"text","format":"\{\{msg.payload\}\}","layout":"row-spread","x":708,"y":273,"wires":[]\},\{"id":"42468a7c.106a8c","type":"mqtt-dynamic in","z":"372e66df.e3fb7a","name":"","topic":"bikes/#","broker":"bb6555a3.9a7a18","async":"true","x":103,"y":645,"wires":[["a37c347b.7fae3","7419dd5f.507f4c","8b9732ce.08de8"]]\},\{"id":"275d5f90.2e5c98","type":"debug","z":"372e66df.e3fb7a","name":"","active":true,"console":"false","complete":"payload","x":588,"y":471,"wires":[]\},\{"id":"a37c347b.7fae3","type":"function","z":"372e66df.e3fb7a","name":"bike Select","func":"t = msg.topic;\\nm = msg.payload;\\n\\n\\nvar msg1 = \{ payload:\\"topic empty\\" \};\\nvar msg2 = msg;\\n\\n// initialise the counter to 0 if it doesn't exist already\\nvar bike = context.get('bike')||\\"bike1\\";\\nmsg.bike = bike;\\n\\n\\nvar bikeT =  msg.bike;\\n\\n// make it part of the outgoing msg object\\n\\n\\nif (t == \\"insertTopic\\")\{\\n    bikeT = msg.payload;\\n    context.set('bike',bikeT);\\n    //context.set('bike',bikeT);\\n    node.error(msg.bike)\\n\}\\n\\n\\nif(msg.topic == \\"bikes/\\"+bikeT+\\"/temp\\")\\n return msg;\\nelse\\n //var msg1 = \{msg.payload= \\"errro\\"\};\\nreturn msg1;","outputs":1,"noerr":0,"x":379,"y":528,"wires":[["275d5f90.2e5c98","b359c1f2.58b9d","cec3c7ae.fca46"]]\},\{"id":"8d87325e.df8f2","type":"ui_dropdown","z":"372e66df.e3fb7a","name":"","label":"Hardware Number:","place":"Select Hardware","group":"8049c44c.6013a8","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"1","value":"bike1","type":"str"\},\{"label":"2","value":"bike2","type":"str"\},\{"label":"3","value":"bike3","type":"str"\}],"payload":"","topic":"insertTopic","x":125,"y":479,"wires":[["a37c347b.7fae3"]]\},\{"id":"b359c1f2.58b9d","type":"ui_chart","z":"372e66df.e3fb7a","name":"","group":"f6db4243.be0728","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":572,"y":610,"wires":[["8c664356.23937"],[]]\},\{"id":"cec3c7ae.fca46","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"f6db4243.be0728","order":3,"width":0,"height":0,"gtype":"wave","title":"","label":"W","format":"\{\{value\}\}","min":0,"max":"250","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":570.5,"y":570,"wires":[]\},\{"id":"95e8bab1.4342d8","type":"debug","z":"372e66df.e3fb7a","name":"","active":true,"console":"false","complete":"payload","x":575,"y":873,"wires":[]\},\{"id":"7419dd5f.507f4c","type":"function","z":"372e66df.e3fb7a","name":"bike Select","func":"t = msg.topic;\\nm = msg.payload;\\n\\n\\nvar msg1 = \{ payload:\\"topic empty\\" \};\\nvar msg2 = msg;\\n\\n// initialise the counter to 0 if it doesn't exist already\\nvar bike = context.get('bike')||\\"bike1\\";\\nmsg.bike = bike;\\n\\n\\nvar bikeT =  msg.bike;\\n\\n// make it part of the outgoing msg object\\n\\n\\nif (t == \\"insertTopic\\")\{\\n    bikeT = msg.payload;\\n    context.set('bike',bikeT);\\n    //context.set('bike',bikeT);\\n    node.error(msg.bike)\\n\}\\n\\n\\nif(msg.topic == \\"bikes/\\"+bikeT+\\"/temp\\")\\n return msg;\\nelse\\n //var msg1 = \{msg.payload= \\"errro\\"\};\\nreturn msg1;","outputs":1,"noerr":0,"x":380,"y":921,"wires":[["95e8bab1.4342d8","520d5683.b76418","d0f9876b.84e908"]]\},\{"id":"74de5160.d5e1f","type":"ui_dropdown","z":"372e66df.e3fb7a","name":"","label":"Hardware Number:","place":"Select Hardware","group":"7f8d04a6.faf4dc","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"1","value":"bike1","type":"str"\},\{"label":"2","value":"bike2","type":"str"\},\{"label":"3","value":"bike3","type":"str"\}],"payload":"","topic":"insertTopic","x":126,"y":970,"wires":[["7419dd5f.507f4c"]]\},\{"id":"520d5683.b76418","type":"ui_chart","z":"372e66df.e3fb7a","name":"","group":"968d47ce.aa59e8","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":588,"y":1010,"wires":[[],[]]\},\{"id":"d0f9876b.84e908","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"968d47ce.aa59e8","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"W","format":"\{\{value\}\}","min":0,"max":"250","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":593.5,"y":970,"wires":[]\},\{"id":"c54f5c79.a50208","type":"debug","z":"372e66df.e3fb7a","name":"","active":true,"console":"false","complete":"payload","x":598,"y":1230,"wires":[]\},\{"id":"8b9732ce.08de8","type":"function","z":"372e66df.e3fb7a","name":"bike Select","func":"t = msg.topic;\\nm = msg.payload;\\n\\n\\nvar msg1 = \{ payload:\\"topic empty\\" \};\\nvar msg2 = msg;\\n\\n// initialise the counter to 0 if it doesn't exist already\\nvar bike = context.get('bike')||\\"bike1\\";\\nmsg.bike = bike;\\n\\n\\nvar bikeT =  msg.bike;\\n\\n// make it part of the outgoing msg object\\n\\n\\nif (t == \\"insertTopic\\")\{\\n    bikeT = msg.payload;\\n    context.set('bike',bikeT);\\n    //context.set('bike',bikeT);\\n    node.error(msg.bike)\\n\}\\n\\n\\nif(msg.topic == \\"bikes/\\"+bikeT+\\"/temp\\")\\n return msg;\\nelse\\n //var msg1 = \{msg.payload= \\"errro\\"\};\\nreturn msg1;","outputs":1,"noerr":0,"x":403,"y":1278,"wires":[["c54f5c79.a50208","e3d3ee1b.00209","3f211ae5.7b816e"]]\},\{"id":"d987175b.ca4148","type":"ui_dropdown","z":"372e66df.e3fb7a","name":"","label":"","place":"Select Hardware","group":"d064c4d3.89832","order":1,"width":0,"height":0,"passthru":true,"options":[\{"label":"1","value":"bike1","type":"str"\},\{"label":"2","value":"bike2","type":"str"\},\{"label":"3","value":"bike3","type":"str"\}],"payload":"","topic":"insertTopic","x":206,"y":1382,"wires":[["8b9732ce.08de8"]]\},\{"id":"e3d3ee1b.00209","type":"ui_chart","z":"372e66df.e3fb7a","name":"","group":"ab467671.b9a7d8","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":582,"y":1369,"wires":[[],[]]\},\{"id":"3f211ae5.7b816e","type":"ui_gauge","z":"372e66df.e3fb7a","name":"","group":"ab467671.b9a7d8","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"W","format":"\{\{value\}\}","min":0,"max":"250","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":580.5,"y":1329,"wires":[]\},\{"id":"6f3414ab.11fb2c","type":"ui_button","z":"372e66df.e3fb7a","name":"","group":"8049c44c.6013a8","order":4,"width":"2","height":"1","passthru":false,"label":"restore","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":88,"y":376,"wires":[["1d01db4.dabbfa5"]]\},\{"id":"1d01db4.dabbfa5","type":"function","z":"372e66df.e3fb7a","name":"","func":"\\nmsg.topic = \\"Clear\\";\\nmsg.payload = [];\\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":378,"wires":[["b359c1f2.58b9d","520d5683.b76418","e3d3ee1b.00209"]]\},\{"id":"4d7e9dd6.7170fc","type":"ui_text_input","z":"372e66df.e3fb7a","name":"","label":"Bike1 Label:","group":"8049c44c.6013a8","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_1_name","x":105,"y":426,"wires":[["c21485fe.29272"]]\},\{"id":"c21485fe.29272","type":"ui_text","z":"372e66df.e3fb7a","group":"f6db4243.be0728","order":1,"width":0,"height":0,"name":"Bike_1_text","label":"Bike 1:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":586.5,"y":427,"wires":[]\},\{"id":"a78dfe48.6f772","type":"function","z":"372e66df.e3fb7a","name":"","func":"if (msg.topic === \\"save\\") \{\\n    msg.payload = context.last;\\n    return msg;\\n\}\\nelse \{\\n    context.last = msg.payload;\\n\}\\nreturn null;","outputs":1,"noerr":0,"x":853,"y":725,"wires":[["61c6555a.a8af34"]]\},\{"id":"cca8a9f0.3c6c3","type":"ui_button","z":"372e66df.e3fb7a","name":"","group":"8049c44c.6013a8","order":3,"width":"2","height":"1","passthru":false,"label":"save","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":582,"y":728,"wires":[["a78dfe48.6f772"]]\},\{"id":"61c6555a.a8af34","type":"file","z":"372e66df.e3fb7a","name":"","filename":"/tmp/chart.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1123,"y":725,"wires":[]\},\{"id":"8c664356.23937","type":"json","z":"372e66df.e3fb7a","name":"","pretty":false,"x":855,"y":604,"wires":[["a78dfe48.6f772"]]\},\{"id":"36144046.c59d2","type":"ui_text","z":"372e66df.e3fb7a","group":"968d47ce.aa59e8","order":1,"width":0,"height":0,"name":"Bike_2_text","label":"Bike 2:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":592.5,"y":823,"wires":[]\},\{"id":"d9a5c2d2.a0484","type":"ui_text_input","z":"372e66df.e3fb7a","name":"","label":"Bike2 Label:","group":"7f8d04a6.faf4dc","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_1_name","x":97,"y":822,"wires":[["36144046.c59d2"]]\},\{"id":"932c81e9.c59dc8","type":"ui_text","z":"372e66df.e3fb7a","group":"ab467671.b9a7d8","order":1,"width":0,"height":0,"name":"Bike_3_text","label":"Bike 3:  ","format":"\{\{msg.payload\}\}","layout":"row-left","x":600.5,"y":1171,"wires":[]\},\{"id":"d2c6b89e.ad494","type":"ui_text_input","z":"372e66df.e3fb7a","name":"","label":"Bike1 Label:","group":"d064c4d3.89832","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"Bike_1_name","x":85,"y":1170,"wires":[["932c81e9.c59dc8"]]\},\{"id":"5ed28a0c.c6af34","type":"ui_group","z":"","name":"BIKE_1","tab":"da393b1f.8d3c68","order":null,"disp":true,"width":"6"\},\{"id":"c26aaba8.df44d8","type":"mqtt-broker","z":"","broker":"192.168.0.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\},\{"id":"bb6555a3.9a7a18","type":"mqtt-dynamic-broker","z":"","broker":"192.168.0.51","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""\},\{"id":"8049c44c.6013a8","type":"ui_group","z":"","name":"Bike 1 Settings","tab":"5b560388.8f885c","order":1,"disp":true,"width":"6"\},\{"id":"f6db4243.be0728","type":"ui_group","z":"","name":"Bike 1","tab":"88daaa56.e928e8","order":2,"disp":false,"width":"6"\},\{"id":"7f8d04a6.faf4dc","type":"ui_group","z":"","name":"Bike 2 Settings","tab":"5b560388.8f885c","order":2,"disp":true,"width":"6"\},\{"id":"968d47ce.aa59e8","type":"ui_group","z":"","name":"Bike 2","tab":"88daaa56.e928e8","order":3,"disp":false,"width":"6"\},\{"id":"d064c4d3.89832","type":"ui_group","z":"","name":"Bike 3 Settings","tab":"5b560388.8f885c","disp":true,"width":"6"\},\{"id":"ab467671.b9a7d8","type":"ui_group","z":"","name":"Bike 3","tab":"88daaa56.e928e8","order":4,"disp":false,"width":"6"\},\{"id":"da393b1f.8d3c68","type":"ui_tab","z":"","name":"Tab","icon":"dashboard","order":2\},\{"id":"5b560388.8f885c","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":3\},\{"id":"88daaa56.e928e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1\}]}